<div id="page-contents">
  <div class="my-2 px-4">
    <p class="mb-4">
      The following is an example of an accordion where only one can be open at any time.
    </p>
    <wc-accordion class="mb-4">
      <option value="Section 1" selected>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </option>
      <option value="Section 2">
        Lorem ipsum dolor sit amet, consectetur <span class="text-lg">adipisicing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </option>
    </wc-accordion>
    <p class="mb-4">
      The following is an example of an according where many can be open at a time.
    </p>
    <wc-accordion class="mb-4" allow-many>
      <option value="Section I" selected>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </option>
      <option value="Section II">
        Lorem ipsum dolor sit amet, consectetur <span class="text-lg">adipisicing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </option>
    </wc-accordion>
  </div>
</div>
