<div id="page-contents">
  <div class="p-6">
    <wc-contact-chip name="oneChip" gender="male" person-name="Dean Duffield">
    </wc-contact-chip>
    <wc-contact-chip name="twoChip" gender="female" person-name="Veronica Duffield">
    </wc-contact-chip>
  </div>
  <div class="flex flex-row p-6 gap-4">
    <wc-contact-card name="card1" gender="male" contact-name="Duncan Duffield">
    </wc-contact-card>
    <wc-contact-card name="card2" gender="female" contact-name="Erica Duffield">
    </wc-contact-card>
    <wc-contact-card name="card2" gender="female"
      contact-name="Veronica Duffield" contact-title="Queen">
    </wc-contact-card>
  </div>
</div>
