<!doctype html>
<html lang="en" class="h-full theme-ocean">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wave CSS</title>

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <script src="https://unpkg.com/htmx.org@2.0.2"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

  <link rel="stylesheet" href="/src/css/main.css">
</head>

<body class="col-1 h-full text-sm">
  <div class="top-menu">
    <wc-menu id="menu" path="./" wrap>
      <option value="home" selected>Home</option>
      <option value="color-theme">Theme</option>
      <option value="skeletons">Skeletons</option>
      <option value="accordion">Accordion</option>
      <option value="parallax">Parallax</option>
      <option value="sidenav">Sidenav</option>
      <option value="sidebar">Sidebar</option>
      <option value="timeline">Timeline</option>
      <option value="dropdown">Dropdown</option>
      <option value="image">Image</option>
      <option value="flip-box">FlipBox</option>
      <option value="slideshow">Slideshow</option>
      <option value="tab">Tab</option>
      <option value="menu">Menu</option>
      <option value="tabulator">Tabulator</option>
      <option value="code-mirror">Code Mirror</option>
      <option value="loader">Loader</option>
      <option value="form-states">Form States</option>
      <option value="color-palette">Color Palette</option>
    </wc-menu>
  </div>

  <div id="viewport" class="slide-it relative h-screen col-1 overflow-auto">

    <div id="page-contents" class="p-6">
      <div 
        hx-get="./home.html"
        hx-trigger="load"
        hx-target="#page-contents"
        hx-swap="outerHTML transition:true"
        xhx-push-url="/views/home.html"
        hx-select="#page-contents"></div>
    </div>


    
  </div>


  <div id="loading-indicator" class="htmx-indicator">
    <svg class="animate-spin h-5 w-5"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </div>

  <wc-event-hub></wc-event-hub>
  <wc-mask-hub></wc-mask-hub>
  <wc-prompt></wc-prompt>
  <wc-theme></wc-theme>


  <template id="clone-template">
    <swal-title>
      Clone Records
    </swal-title>
    <swal-icon type="info"></swal-icon>
      <swal-input type="select" label="Collection" placeholder="Choose...">
        <swal-input-option value="go-kart1">go-kart1</swal-input-option>
        <swal-input-option value="go-kart2">go-kart2</swal-input-option>
        <swal-input-option value="go-kart3">go-kart3</swal-input-option>
        <swal-input-option value="go-kart4">go-kart4</swal-input-option>
      </swal-input>
    <swal-button type="confirm">
      Clone
    </swal-button>
    <swal-button type="cancel">
      Cancel
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param name="allowOutsideClick" value="false" />
    <swal-param
      name="customClass"
      value='{ "popup": "my-popup" }' />
    <swal-function-param
      name="didOpen"
      value="() => { const ipt = Swal.getInput(); ipt.multiple = true; }" />
    <swal-function-param
      name="preConfirm"
      value="() => { const ipt = Swal.getInput(); const opts = Array.from(ipt.selectedOptions).map(m => m.value); return opts; }" />
  </template>

  <script type="module" src="./index.js"></script>
</body>
</html>