<div id="page-contents">

  <div class="row gap-4 p-6">
    <wc-dropdown class="mb-4" label="Menu 1" mode="click">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </wc-dropdown>

    <wc-dropdown class="mb-4" label="Menu 2" mode="hover">
      <a href="#">Link 4</a>
      <a href="#">Link 5</a>
      <a href="#">Link 6</a>
    </wc-dropdown>

    <wc-dropdown class="mb-4" label="Search" mode="search">
      <a href="#about">About</a>
      <a href="#base">Base</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
      <a href="#custom">Custom</a>
      <a href="#support">Support</a>
      <a href="#tools">Tools</a>
    </wc-dropdown>

    <wc-dropdown class="mb-4" label="" mode="search">
      <a href="#about">About</a>
      <a href="#base">Base</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
      <a href="#custom">Custom</a>
      <a href="#support">Support</a>
      <a href="#tools">Tools</a>
    </wc-dropdown>
  </div>

</div>
