<div id="page-contents">

  <div class="row gap-4 p-6">

    <wc-flip-box class="h-40 w-40 mb-4">
      <div slot="front" class="theme-sunset dark">
        <h2>Front Side</h2>
      </div>
      <div slot="back" class="theme-royal light">
        <h2>Back Side</h2>
      </div>
    </wc-flip-box>


    <wc-flip-box class="h-40 w-40 mb-4" flip-on="click">
      <div slot="front" class="theme-midnight dark">
        <h2>Front Side</h2>
      </div>
      <div slot="back" class="theme-ocean light">
        <h2>Back Side</h2>
      </div>
    </wc-flip-box>


  </div>

</div>
