<div id="page-contents">
  <wc-form class="col p-6 gap-3" id="main_form" method="post" action="/">
    <div class="row gap-4">
      <wc-select name="favorite_color"
        class="col-1"
        lbl-label="Fav. Color"
        value="green">
        <option value="red">Red</option>
        <option value="green" selected>Green</option>
        <option value="blue">Blue</option>
      </wc-select>
      <wc-select name="favorite_color2"
        class="col-1"
        lbl-label="Fav. Color 2"
        value="green"
        disabled>
        <option value="red">Red</option>
        <option value="green" selected>Green</option>
        <option value="blue">Blue</option>
      </wc-select>
    </div>
    <div class="row gap-4">
      <wc-select name="gender1" 
        class="col-1"
        lbl-label="Gender 1"
        value="male"
        items='[{"key": "Female", "value": "female"}, {"key": "Male", "value": "male"}]'
        required>
      </wc-select>
      <wc-select name="gender2" 
        class="col-1"
        lbl-label="Gender 2"
        value="male"
        display-member="label"
        items='[{"label": "Female", "value": "female"}, {"label": "Male", "value": "male"}]'
        disabled>
      </wc-select>
    </div>
    <div class="row gap-4">
      <wc-select name="favorite_fruit1"
        mode="chip"
        class="col-1"
        lbl-label="Fav. Fruit 1"
        multiple
        required>
        <option value="apple" selected>Apple</option>
        <option value="banana">Banana</option>
        <option value="cherry">Cherry</option>
        <option value="date" selected>Date</option>
        <option value="elderberry">Elderberry</option>        
        <option value="huckleberry">Huckleberry</option>        
        <option value="raspberry">Raspberry</option>        
        <option value="strawberry">Strawberry</option>        
      </wc-select>
      <wc-select name="favorite_fruit2"
        mode="chip"
        class="col-1"
        lbl-label="Fav. Fruit 2"
        multiple
        disabled>
        <option value="apple">Apple</option>
        <option value="banana" selected>Banana</option>
        <option value="cherry">Cherry</option>
        <option value="date">Date</option>
        <option value="elderberry">Elderberry</option>        
      </wc-select>
      <wc-select name="favorite_fruit3" 
        mode="chip"
        class="col-1"
        lbl-label="Fav. Fruit 3"
        display-member="label"
        items='[{"label": "Apple", "value": "apple"}, {"label": "Banana", "value": "banana", "selected": true}, {"label": "Cherry", "value": "cherry"}]'
        multiple>
      </wc-select>
    </div>
    <div class="row gap-4">
      <wc-select name="favorite_fruit4"
        mode="chip"
        class="col-1"
        lbl-label="Fav. Fruit 4"
        multiple
        required>
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="cherry">Cherry</option>
        <option value="date">Date</option>
        <option value="elderberry">Elderberry</option>        
        <option value="huckleberry">Huckleberry</option>        
        <option value="raspberry">Raspberry</option>        
        <option value="strawberry">Strawberry</option>        
      </wc-select>
    </div>    
    <div class="row gap-4">
      <wc-select name="favorite_fruit3"
        mode="multiple"
        class="col-1"
        lbl-label="Fav. Fruit 3"
        multiple>
        <option value="apple" selected>Apple</option>
        <option value="banana">Banana</option>
        <option value="cherry" selected>Cherry</option>
        <option value="date">Date</option>
        <option value="elderberry">Elderberry</option>        
      </wc-select>
      <wc-select name="favorite_fruit4"
        mode="multiple"
        class="col-1"
        lbl-label="Fav. Fruit 4"
        disabled
        multiple>
        <option value="apple" selected>Apple</option>
        <option value="banana">Banana</option>
        <option value="cherry" selected>Cherry</option>
        <option value="date">Date</option>
        <option value="elderberry">Elderberry</option>        
      </wc-select>
    </div>

    <div class="row gap-4">
      <wc-input name="first_name"
        class="col-1"
        value="John"
        lbl-label="First Name"
        autocomplete="first_name"
        minlength="2"
        maxlength="5"
        required>
      </wc-input>
      <wc-input name="middle_name"
        class="col-1"
        value="H"
        lbl-label="Middle Name"
        autocomplete="middle_name"
        readonly>
      </wc-input>
      <wc-input name="last_name"
        class="col-1"
        value="Doe"
        lbl-label="Last Name"
        autocomplete="last_name"
        disabled>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="budget"
        class="col"
        lbl-label="Budget"
        type="number"
        min="1"
        max="1000">
      </wc-input>
      <wc-input name="credit_score"
        class="col"
        value="500"
        lbl-label="Credit Score"
        type="number"
        min="1"
        max="1000"
        required
        disabled>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="budget1"
        class="col"
        value="1500.00"
        lbl-label="Budget 1"
        type="currency"
        step="0.01"
        min="1"
        max="10000">
      </wc-input>
      <wc-input name="budget2"
        class="col"
        value="1500.00"
        lbl-label="Budget 2"
        type="currency"
        step="0.01"
        min="1"
        max="10000"
        readonly>
      </wc-input>
      <wc-input name="budget3"
        class="col"
        value="1500.00"
        lbl-label="Budget 3"
        type="currency"
        step="0.01"
        min="1"
        max="10000"
        disabled>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="email1"
        class="col"
        lbl-label="Email 1"
        type="email"
        value="john@doe.com">
      </wc-input>
      <wc-input name="email2"
        class="col"
        lbl-label="Email 2"
        type="email"
        value="john@doe.com"
        readonly>
      </wc-input>
      <wc-input name="email3"
        class="col"
        lbl-label="Email 3"
        type="email"
        value="john@doe.com"
        disabled>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="phone1"
        class="col"
        lbl-label="Phone 1"
        type="tel"
        value="8005551212">
      </wc-input>
      <wc-input name="phone2"
        class="col"
        lbl-label="Phone 2"
        type="tel"
        value="8005551212"
        readonly>
      </wc-input>
      <wc-input name="phone3"
        class="col"
        lbl-label="Phone 3"
        type="tel"
        value="8005551212"
        disabled>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="appointment_date"
        class="col"
        value=""
        lbl-label="Appointment"
        type="date"
        min="2023-01-01"
        max="2024-12-31"
        required>
      </wc-input>
      <wc-input name="appointment_time"
        class="col"
        value=""
        lbl-label="Appointment Time"
        type="time"
        min="09:00"
        max="18:00"
        required>
      </wc-input>
      <wc-input name="appointment_week"
        class="col"
        value=""
        lbl-label="Appointment Week"
        type="week"
        min="2024-W01"
        max="2024-W22"
        required>
      </wc-input>
      <wc-input name="appointment_month"
        class="col"
        value=""
        lbl-label="Appointment Month"
        type="month"
        min="2024-01"
        max="2024-06"
        required>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="season1"
        class="col"
        value="50"
        lbl-label="Season 1"
        type="range"
        min="1"
        max="100"
        step="1"
        required>
      </wc-input>
      <wc-input name="season2"
        class="col"
        value="25"
        lbl-label="Season 2"
        type="range"
        min="1"
        max="100"
        step="1"
        disabled>
      </wc-input>
    </div>
    <div class="row gap-4">
      <wc-input name="is_active1"
        class="col"
        lbl-label="Is Active 1?"
        type="checkbox"
        checked>
      </wc-input>
      <wc-input name="is_active2"
        class="col"
        lbl-label="Is Active 2?"
        type="checkbox"
        checked
        disabled>
      </wc-input>
      <wc-input name="is_eligible1"
        class="col"
        lbl-label="Is Eligible 1?"
        type="checkbox"
        toggle-switch>
      </wc-input>
      <wc-input name="is_eligible2"
        class="col"
        lbl-label="Is Eligible 2?"
        type="checkbox"
        toggle-switch
        disabled>
      </wc-input>
    </div>

    <div class="row gap-4">
      <wc-input name="gender1"
        lbl-label="Gender 1"
        type="radio"
        radio-group-class="row"
        value="male"
        options='[
          {"key": "Female", "value": "female"}, 
          {"key": "Male", "value": "male"},
          {"key": "Other", "value": "other"}
        ]'>
      </wc-input>
      <wc-input name="gender2"
        lbl-label="Gender 2"
        type="radio"
        radio-group-class="row"
        value="male"
        options='[
          {"key": "Female", "value": "female"}, 
          {"key": "Male", "value": "male"},
          {"key": "Other", "value": "other"}
        ]'
        disabled>
      </wc-input>
      <wc-input name="gender3"
        lbl-label="Gender 3"
        type="radio"
        radio-group-class="row modern"
        value="male"
        options='[
          {"key": "Female", "value": "female"}, 
          {"key": "Male", "value": "male"},
          {"key": "Other", "value": "other"}
        ]'>
      </wc-input>
      <wc-input name="gender4"
        lbl-label="Gender 4"
        type="radio"
        radio-group-class="row modern"
        value="other"
        options='[
          {"key": "Female", "value": "female"}, 
          {"key": "Male", "value": "male"},
          {"key": "Other", "value": "other"}
        ]'
        disabled>
      </wc-input>
    </div>

    <div class="row gap-4">
      <wc-input name="marital_status1"
        lbl-label="Marital Status 1"
        type="radio"
        radio-group-class="col"
        value="married"
        options='[
          {"key": "Single", "value": "single"}, 
          {"key": "Married", "value": "married"},
          {"key": "Divorced", "value": "divorced"},
          {"key": "Widowed", "value": "widowed"}
        ]'>
      </wc-input>
      <wc-input name="marital_status2"
        lbl-label="Marital Status 2"
        type="radio"
        radio-group-class="col"
        value="married"
        options='[
          {"key": "Single", "value": "single"}, 
          {"key": "Married", "value": "married"},
          {"key": "Divorced", "value": "divorced"},
          {"key": "Widowed", "value": "widowed"}
        ]'
        disabled>
      </wc-input>
    </div>

    <div class="row gap-4">
      <wc-textarea class="col-1"
        lbl-label="Comments"
        rows="5"
        name="comments"
        value="10/10/2024 - First comment..."
        placeholder="Enter comments here..."
        required></wc-textarea>
      <wc-textarea class="col-1"
        lbl-label="Notes"
        rows="5"
        name="notes"
        value="test note"
        placeholder="Enter comments here..."
        readonly>
10/30/2024 - Had a call with the client. They want to move forward.
10/28/2024 - Had initial call with the client. They want to think about it.
      </wc-textarea>
      <wc-textarea class="col-1"
        lbl-label="Remarks"
        rows="5"
        name="remarks"
        placeholder="Enter comments here..."
        disabled>
10/30/2024 - Lorem ipsum dolor sit amet, consectetur adipisicing elit.
10/28/2024 - Lorem culpa qui officia deserunt mollit anim id est laborum.
      </wc-textarea>
    </div>
    <div class="row gap-3">
      <button type="submit">Submit</button>
      <button type="button" disabled>Validate</button>
      <wc-input type="button" value="Click 1"></wc-input>
      <wc-input type="button" value="Click 2" disabled></wc-input>
      <wc-input type="button" value="Accept" class="theme-forest-green"></wc-input>
      <wc-input type="button" value="Accept" class="theme-forest-green" disabled></wc-input>
      <wc-input type="button" value="Reject" class="theme-coral-sunset"></wc-input>
      <wc-input type="button" value="Reject" class="theme-coral-sunset" disabled></wc-input>
      <wc-input type="button" value="Cancel" class="theme-day"></wc-input>
      <wc-input type="button" value="Cancel" class="theme-day" disabled></wc-input>
      <wc-input type="button" value="Confirm" class="theme-royal-blue"></wc-input>
      <wc-input type="button" value="Confirm" class="theme-royal-blue" disabled></wc-input>    </div>
  </wc-form>
  <div class="col p-6 gap-4">
    <wc-theme-selector theme="theme-slate-storm" mode="dark">
    </wc-theme-selector>
  </div>
  <div class="test-container p-6">
    <wc-event-handler 
      event-name="custom-event"
      action-target=".test-container"></wc-event-handler>
    TEST EVENT HANDLER
  </div>


<!--
  <div class="p-6">
    <wc-behavior 
      xhx-trigger="click, keyup[ctrlKey&&shiftKey&&key=='X'] from:body"
      xhx-post=""
      xhx-confirm="Are you sure you want to do this?"></wc-behavior>
    THIS IS MY CONTENT
  </div>
  <div class="p-6">
    <wc-behavior 
      hx-trigger="custom-event from:body"
      hx-post=""
      hx-confirm="Are you sure you perform the custom event?"></wc-behavior>
    Other content
  </div>
-->

<a href="https://google.com">Google</a>
</div>
