<div id="page-contents">

  <div class="row justify-center gap-4 p-6">
    <wc-image modal
      url="https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
      caption="Image">
    </wc-image>
  </div>

  <div class="row gap-4 p-6">
    <wc-image hover-overlay hover-mode="left"
      url="https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
      caption="Image">
      <div class="col-1 gap-2 p-10">
        <p>
          Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
      </div>
    </wc-image>
    <wc-image hover-overlay hover-mode="right"
      url="https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
      caption="Image">
      <div class="col-1 gap-2 p-10">
        <p>
          Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
      </div>
    </wc-image>
  </div>

  <div class="row gap-4 p-6">
    <wc-image hover-overlay hover-mode="top"
      url="https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
      caption="Image">
      <div class="col-1 gap-2 p-10">
        <p>
          Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
      </div>
    </wc-image>
    <wc-image hover-overlay hover-mode="bottom"
      url="https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
      caption="Image">
      <div class="col-1 gap-2 p-10">
        <p>
          Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
      </div>
    </wc-image>
  </div>    

</div>
