body {
  overflow-x: hidden;
}
.left-panel {
  width: 275px;
  border-right: 1px solid #dee2e6;
}
.center-panel {
  flex: 1;
  background-color: #f8f9fa;
  position: relative;
}
.right-panel {
  width: 300px;
  border-left: 1px solid #dee2e6;
}
.element-list {
  margin-bottom: 20px;
}
.element-item {
  padding: 8px 12px;
  margin-bottom: 5px;
  border: 1px solid var(--button-bg-color);
  border-radius: 4px;
  color: var(--button-color);
  cursor: move;
  user-select: none;
}
.element-item:hover {
  background-color: var(--button-hover-bg-color);
}
.designer-surface {
  padding: 20px;
  background-color: white;
}
/* Designer element styling */
.designer-element {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #dee2e6;
  border-radius: 4px;
  position: relative;
}
.designer-element.selected {
  border: 2px solid var(--swatch-9);
}
.designer-element-container {
  min-height: 50px;
  padding: 10px;
  border: 2px dashed #6c757d;
  margin: 8px 0;
  position: relative;
}
.designer-element-container.drag-over {
  background-color: rgba(13, 110, 253, 0.1);
  border: 1px dashed #0d6efd;
}
.designer-element-placeholder {
  height: 50px;
  margin: 8px 0;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 50px;
  color: #6c757d;
}
.container-drop-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.element-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}
.element-actions button {
  padding: 2px 5px;
  font-size: 12px;
}
.element-type-header {
  font-size: 12px;
  font-weight: bold;
  color: #6c757d;
  margin-bottom: 5px;
  display: block;
}
.element-label {
  font-weight: bold;
  color: var(--text-9);
}
.rule-item {
  /*
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  */
}
.preview-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
}
.preview-container.hidden {
  display: none;
}
.invisible-placeholder {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}
