<!DOCTYPE html>
<html lang="en" class="theme-azure dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout JSON Designer</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
  <link href="layout-designer.css" rel="stylesheet">

  <link href="https://mattduffield.github.io/wave-css/dist/wave-css.css" rel="stylesheet" type="text/css">
  
  <script type="module" src="https://mattduffield.github.io/wave-css/dist/wave-css.js"></script>
  <script src="https://mattduffield.github.io/wave-css/dist/wave-helpers.js"></script>
  <script src="https://mattduffield.github.io/lite-spec/dist/lite-spec.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>

</head>
<body>
  <div class="flex flex-row flex-1 h-screen">
    <!-- Left Panel - Elements -->
    <div class="left-panel flex flex-col min-h-0 overflow-scroll p-2">
      <wc-tab class="flex flex-col flex-1 min-h-0" animate>
        <wc-tab-item class="active" label="Containers">
          <div class="element-list p-2 flex flex-col min-h-0 overflow-scroll" id="container-elements">
            <div class="element-item" data-element-type="wc-tab" draggable="true">WC Tab Container</div>
            <div class="element-item" data-element-type="wc-tab-item" draggable="true">WC Tab Item</div>
            <div class="element-item" data-element-type="column" draggable="true">Column</div>
            <div class="element-item" data-element-type="row" draggable="true">Row</div>
            <div class="element-item" data-element-type="fieldset" draggable="true">Fieldset</div>
            <div class="element-item" data-element-type="array" draggable="true">Array</div>
            <div class="element-item" data-element-type="wc-card" draggable="true">WC Card</div>
            <div class="element-item" data-element-type="wc-accordion" draggable="true">WC Accordion</div>
            <div class="element-item" data-element-type="wc-form" draggable="true">WC Form</div>
            <div class="element-item" data-element-type="wc-select" draggable="true">WC Select</div>
            <div class="element-item" data-element-type="wc-sidebar-left" draggable="true">WC Sidebar Left</div>
            <div class="element-item" data-element-type="wc-sidebar-right" draggable="true">WC Sidebar Right</div>
            <div class="element-item" data-element-type="wc-sidenav-left" draggable="true">WC Sidenav Left</div>
            <div class="element-item" data-element-type="wc-sidenav-right" draggable="true">WC Sidenav Right</div>
            <div class="element-item" data-element-type="wc-split-button" draggable="true">WC Split Button</div>
            <div class="element-item" data-element-type="wc-slideshow" draggable="true">WC Slideshow</div>
            <div class="element-item" data-element-type="wc-timeline" draggable="true">WC Timeline</div>
            <div class="element-item" data-element-type="wc-tabulator" draggable="true">WC Tabulator</div>
            <div class="element-item" data-element-type="wc-breadcrumb" draggable="true">WC Breadcrumb</div>
            <div class="element-item" data-element-type="option" draggable="true">Option</div>
          </div>
        </wc-tab-item>
        <wc-tab-item class="" label="Elements">
          <div class="element-list p-2 flex flex-col min-h-0 overflow-scroll" id="form-elements">
            <div class="element-item" data-element-type="hr" draggable="true">Horizontal Line</div>
            <div class="element-item" data-element-type="wc-article-skeleton" draggable="true">WC Article Skeleton</div>
            <div class="element-item" data-element-type="wc-card-skeleton" draggable="true">WC Card Skeleton</div>
            <div class="element-item" data-element-type="wc-list-skeleton" draggable="true">WC List Skeleton</div>
            <div class="element-item" data-element-type="wc-table-skeleton" draggable="true">WC Table Skeleton</div>
            <div class="element-item" data-element-type="wc-input" draggable="true">WC Input</div>
            <div class="element-item" data-element-type="wc-input-checkbox" draggable="true">WC Input Checkbox</div>
            <div class="element-item" data-element-type="wc-code-mirror" draggable="true">WC Code Mirror</div>
            <div class="element-item" data-element-type="wc-textarea" draggable="true">WC Textarea</div>
            <div class="element-item" data-element-type="wc-save-button" draggable="true">WC Save Button</div>
            <div class="element-item" data-element-type="wc-save-split-button" draggable="true">WC Save Split Button</div>
            <div class="element-item" data-element-type="wc-select-option" draggable="true">WC Select Option</div>
            <div class="element-item" data-element-type="wc-slideshow-image" draggable="true">WC Slideshow Image</div>
            <div class="element-item" data-element-type="wc-tabulator-column" draggable="true">WC Tabulator Column</div>
            <div class="element-item" data-element-type="wc-tabulator-func" draggable="true">WC Tabulator Func</div>
            <div class="element-item" data-element-type="wc-tabulator-row-menu" draggable="true">WC Tabulator Row Menu</div>
            <div class="element-item" data-element-type="wc-loader" draggable="true">WC Loader</div>
            <div class="element-item" data-element-type="wc-image" draggable="true">WC Image</div>
            <div class="element-item" data-element-type="wc-contact-card" draggable="true">WC Contact Card</div>
            <div class="element-item" data-element-type="wc-contact-chip" draggable="true">WC Contact Chip</div>
            <div class="element-item" data-element-type="wc-breadcrumb-item" draggable="true">WC Breadcrumb Item</div>
            <div class="element-item" data-element-type="wc-background-image" draggable="true">WC Backgruond Image</div>
            <div class="element-item" data-element-type="wc-hotkey" draggable="true">WC Hotkey</div>
          </div>
        </wc-tab-item>
        <wc-tab-item class="" label="Fields">
          <div class="element-list p-2 flex flex-col min-h-0 overflow-scroll" id="schema-fields">
            <!-- Will be populated dynamically -->
          </div>
        </wc-tab-item>
      </wc-tab>      
    </div>

    <!-- Center Panel - Designer Surface -->
    <div id="center-panel" class="flex flex-col flex-1 min-h-0 min-w-0">
      <wc-tab id="center-tab-control" class="flex flex-col flex-1 min-h-0 min-w-0 p-2" animate>
        <wc-tab-item class="active" label="Canvas">
          <div class="designer-surface flex flex-col flex-1 min-h-0 overflow-scroll" id="designer-surface"></div>
        </wc-tab-item>
        <wc-tab-item label="Schema">
          <div class="flex flex-col flex-1 min-h-0 overflow-scroll gap-2">
            <wc-code-mirror class="flex flex-col flex-1 min-h-0"
              name="schema-json"
              line-numbers
              line-wrapper
              fold-gutter
              mode="javascript"
              theme="monokai"
              tab-size="2"
              indent-unit="2">
            </wc-code-mirror>
            <div class="flex flex-row justify-end gap-2 p-2">
              <button id="load-schema" class="btn btn-primary">Load Schema</button>
            </div>
          </div>
        </wc-tab-item>
        <wc-tab-item label="Layout JSON">
          <div class="flex flex-col flex-1 min-h-0 min-w-0 overflow-scroll">
            <wc-code-mirror class="flex flex-col flex-1 min-h-0 min-w-0 w-full max-w-full box-border"
              name="json-output"
              line-numbers
              line-wrapper
              fold-gutter
              mode="javascript"
              theme="monokai"
              tab-size="2"
              indent-unit="2">
            </wc-code-mirror>
            <div class="flex flex-row justify-end gap-2 p-2">
              <button id="copy-design" class="btn btn-secondary">Copy to Clipboard</button>
              <button id="download-design" class="btn btn-primary">Download Design</button>
              <button id="load-design" class="btn btn-info">Apply Design</button>
            </div>
          </div>
        </wc-tab-item>
        <wc-tab-item label="Raw Preview">
          <iframe id="pre-rendered-preview" name="pre-rendered-preview" class="border-none flex flex-col flex-1 min-h-0 overflow-scroll">
          </iframe>
        </wc-tab-item>
        <wc-tab-item label="Preview">
          <iframe id="rendered-preview" name="rendered-preview" class="border-none flex flex-col flex-1 min-h-0 overflow-scroll">
          </iframe>
        </wc-tab-item>
      </wc-tab>
    </div>
    <!-- Right Panel - Properties -->
    <div class="right-panel flex flex-col min-h-0 overflow-scroll p-2">
      <wc-tab id="right-panel" class="flex flex-col flex-1 min-h-0" animate>
        <wc-tab-item class="active" label="Properties">
          <div class="col-1 gap-2 py-2 px-4">
            <div id="no-selection" class="col-1 text-center text-muted py-4">
              <p>Select an element to view and edit its properties</p>
            </div>
            <div id="element-properties" class="col-1 gap-2 hidden">
              <div class="row">
                <wc-input name="prop-id" lbl-label="ID" class="col-1" readonly></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-type" lbl-label="Type" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-label" lbl-label="Label" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-scope" lbl-label="Scope" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-css" lbl-label="CSS" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-required" lbl-label="Required" class="col" type="checkbox" toggle-switch></wc-input>
              </div>
              <div class="row">
                <button id="save-properties" class="col-1 btn btn-primary">Apply</button>
              </div>
            </div>
          </div>
        </wc-tab-item>
        <wc-tab-item class="" label="Rules">
          <div class="col-1 gap-2 py-2 px-4">
            <div id="rules-no-selection" class="text-center text-muted py-4">
              <p>Select an element to view and edit its rules</p>
            </div>
            <div id="element-rules" class="d-none">
              <div id="rules-list">
                <!-- Rules will be added here -->
              </div>
              <div class="flex flex-row justify-end mt-2">
                <button id="add-rule" class="">Add Rule</button>
              </div>
            </div>
          </div>
        </wc-tab-item>
      </wc-tab>
    </div>
  </div>
  
  <!-- Templates -->
  <template id="rule-template">
    <swal-title class="text-sm">
      Edit Rule
    </swal-title>
    <swal-html>
      <div class="flex flex-col flex-1 gap-2 text-sm">
        <div class="flex flex-row flex-1">
          <wc-select name="rule-effect" lbl-label="Effect" class="flex-1">
            <option value="COPY">Copy Value</option>
            <option value="COPY-TOLOWER">Copy to Lowercase</option>
            <option value="COPY-TOLOWER-UNDERSCORE">Copy to Lowercase with Underscores</option>
            <option value="SHOW">Show Element</option>
            <option value="HIDE">Hide Element</option>
            <option value="ENABLE">Enable Element</option>
            <option value="DISABLE">Disable Element</option>
            <option value="REQUIRE">Make Required</option>
            <option value="UN-REQUIRE">Make Optional</option>
          </wc-select>
        </div>
        <fieldset class="flex flex-col flex-1 p-2 gap-2">
          <legend>Condition</legend>
          <div class="flex flex-row flex-1">
            <wc-input name="rule-condition-scope" lbl-label="Scope" class="flex-1">
            </wc-input>
          </div>
          <div class="flex flex-row flex-1 gap-2">
            <wc-select name="rule-schema-type" lbl-label="Rule Type" class="flex-1">
              <option value="">Choose...</option>
              <option value="minLength">Min Length</option>
              <option value="maxLength">Max Length</option>
              <option value="pattern">Pattern</option>
              <option value="minimum">Minimum</option>
              <option value="maximum">Maximum</option>
              <option value="const">Constant</option>
              <option value="enum">Enum</option>
            </wc-select>
            <wc-input name="rule-schema-value" lbl-label="Value" class="flex-1">
            </wc-input>            
          </div>
          <div class="flex flex-row flex-1">
            <wc-input name="rule-src-data-id" lbl-label="Source Element ID" class="flex-1">
            </wc-input>
          </div>
          <div class="flex flex-row flex-1 gap-2">
            <wc-input name="rule-src-selector" lbl-label="Source Selector (optional)" class="flex-1">
            </wc-input>
            <wc-input name="rule-src-property" lbl-label="Source Property (optional)" class="flex-1">
            </wc-input>
          </div>
        </fieldset>
        <fieldset class="flex flex-col flex-1 p-2 gap-2">
          <legend>Target</legend>
          <div class="flex flex-row flex-1">
            <!--
            <wc-input name="rule-tgt-data-id" lbl-label="Target Element ID" class="flex-1">
            </wc-input>
            -->
            <wc-select name="rule-tgt-data-id" lbl-label="Target Element ID" class="flex-1">
            </wc-select>
          </div>
          <div class="flex flex-row flex-1 gap-2">
            <wc-input name="rule-tgt-selector" lbl-label="Target Selector (optional)" class="flex-1">
            </wc-input>
            <wc-input name="rule-tgt-property" lbl-label="Target Property (optional)" class="flex-1">
            </wc-input>
          </div>
        </fieldset>
      </div>
    </swal-html>
    <swal-button type="cancel">
      Cancel
    </swal-button>
    <swal-button type="confirm">
      Save Rule
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param name="allowOutsideClick" value="false" />
  </template>

  <wc-event-hub></wc-event-hub>
  <wc-prompt></wc-prompt>
  <wc-mask-hub></wc-mask-hub>
  <!--
  <wc-theme></wc-theme>
  -->
  <script src="layout-designer.js"></script>
</body>
</html>