<!DOCTYPE html>
<html lang="en" class="theme-azure dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout JSON Designer</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
  <link href="layout-designer.css" rel="stylesheet">

  <link href="https://mattduffield.github.io/wave-css/dist/wave-css.css" rel="stylesheet" type="text/css">
  
  <script type="module" src="https://mattduffield.github.io/wave-css/dist/wave-css.js"></script>
  <script src="https://mattduffield.github.io/wave-css/dist/wave-helpers.js"></script>
  <script src="https://mattduffield.github.io/lite-spec/dist/lite-spec.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>

</head>
<body>
  <div class="flex flex-row flex-1 h-screen xdesigner-container">
    <!-- Left Panel - Elements -->
    <div class="left-panel flex flex-col min-h-0 overflow-scroll p-2">
      <wc-tab class="flex flex-col flex-1 min-h-0" animate>
        <wc-tab-item class="active" label="Containers">
          <div class="element-list p-2 flex flex-col min-h-0 overflow-scroll" id="container-elements">
            <div class="element-item" data-element-type="wc-tab" draggable="true">WC Tab Container</div>
            <div class="element-item" data-element-type="wc-tab-item" draggable="true">WC Tab Item</div>
            <div class="element-item" data-element-type="column" draggable="true">Column</div>
            <div class="element-item" data-element-type="row" draggable="true">Row</div>
            <div class="element-item" data-element-type="fieldset" draggable="true">Fieldset</div>
            <div class="element-item" data-element-type="array" draggable="true">Array</div>
            <div class="element-item" data-element-type="wc-card" draggable="true">WC Card</div>
            <div class="element-item" data-element-type="wc-accordion" draggable="true">WC Accordion</div>
            <div class="element-item" data-element-type="wc-form" draggable="true">WC Form</div>
            <div class="element-item" data-element-type="wc-select" draggable="true">WC Select</div>
            <div class="element-item" data-element-type="wc-sidebar-left" draggable="true">WC Sidebar Left</div>
            <div class="element-item" data-element-type="wc-sidebar-right" draggable="true">WC Sidebar Right</div>
            <div class="element-item" data-element-type="wc-sidenav-left" draggable="true">WC Sidenav Left</div>
            <div class="element-item" data-element-type="wc-sidenav-right" draggable="true">WC Sidenav Right</div>
            <div class="element-item" data-element-type="wc-split-button" draggable="true">WC Split Button</div>
            <div class="element-item" data-element-type="wc-slideshow" draggable="true">WC Slideshow</div>
            <div class="element-item" data-element-type="wc-timeline" draggable="true">WC Timeline</div>
            <div class="element-item" data-element-type="wc-tabulator" draggable="true">WC Tabulator</div>
            <div class="element-item" data-element-type="wc-breadcrumb" draggable="true">WC Breadcrumb</div>
            <div class="element-item" data-element-type="option" draggable="true">Option</div>
          </div>
        </wc-tab-item>
        <wc-tab-item class="" label="Elements">
          <div class="element-list p-2 flex flex-col min-h-0 overflow-scroll" id="form-elements">
            <div class="element-item" data-element-type="hr" draggable="true">Horizontal Line</div>
            <div class="element-item" data-element-type="wc-article-skeleton" draggable="true">WC Article Skeleton</div>
            <div class="element-item" data-element-type="wc-card-skeleton" draggable="true">WC Card Skeleton</div>
            <div class="element-item" data-element-type="wc-list-skeleton" draggable="true">WC List Skeleton</div>
            <div class="element-item" data-element-type="wc-table-skeleton" draggable="true">WC Table Skeleton</div>
            <div class="element-item" data-element-type="wc-input" draggable="true">WC Input</div>
            <div class="element-item" data-element-type="wc-input-checkbox" draggable="true">WC Input Checkbox</div>
            <div class="element-item" data-element-type="wc-code-mirror" draggable="true">WC Code Mirror</div>
            <div class="element-item" data-element-type="wc-textarea" draggable="true">WC Textarea</div>
            <div class="element-item" data-element-type="wc-save-button" draggable="true">WC Save Button</div>
            <div class="element-item" data-element-type="wc-save-split-button" draggable="true">WC Save Split Button</div>
            <div class="element-item" data-element-type="wc-select-option" draggable="true">WC Select Option</div>
            <div class="element-item" data-element-type="wc-slideshow-image" draggable="true">WC Slideshow Image</div>
            <div class="element-item" data-element-type="wc-tabulator-column" draggable="true">WC Tabulator Column</div>
            <div class="element-item" data-element-type="wc-tabulator-func" draggable="true">WC Tabulator Func</div>
            <div class="element-item" data-element-type="wc-tabulator-row-menu" draggable="true">WC Tabulator Row Menu</div>
            <div class="element-item" data-element-type="wc-loader" draggable="true">WC Loader</div>
            <div class="element-item" data-element-type="wc-image" draggable="true">WC Image</div>
            <div class="element-item" data-element-type="wc-contact-card" draggable="true">WC Contact Card</div>
            <div class="element-item" data-element-type="wc-contact-chip" draggable="true">WC Contact Chip</div>
            <div class="element-item" data-element-type="wc-breadcrumb-item" draggable="true">WC Breadcrumb Item</div>
            <div class="element-item" data-element-type="wc-background-image" draggable="true">WC Backgruond Image</div>
            <div class="element-item" data-element-type="wc-hotkey" draggable="true">WC Hotkey</div>
          </div>
        </wc-tab-item>
        <wc-tab-item class="" label="Fields">
          <div class="element-list p-2 flex flex-col min-h-0 overflow-scroll" id="schema-fields">
            <!-- Will be populated dynamically -->
          </div>
        </wc-tab-item>
      </wc-tab>      
    </div>

    <!-- Center Panel - Designer Surface -->
    <div id="center-panel" class="flex flex-col flex-1 min-h-0 min-w-0">
      <wc-tab id="center-tab-control" class="flex flex-col flex-1 min-h-0 min-w-0 p-2" animate>
        <wc-tab-item class="active" label="Canvas">
          <div class="designer-surface flex flex-col flex-1 min-h-0 overflow-scroll" id="designer-surface"></div>
        </wc-tab-item>
        <wc-tab-item label="Schema">
          <div class="flex flex-col flex-1 min-h-0 overflow-scroll gap-2">
            <wc-code-mirror class="flex flex-col flex-1 min-h-0"
              name="schema-json"
              line-numbers
              line-wrapper
              fold-gutter
              mode="javascript"
              theme="monokai"
              tab-size="2"
              indent-unit="2">
            </wc-code-mirror>
            <button id="load-schema" class="btn btn-primary">Load Schema</button>
          </div>
        </wc-tab-item>
        <wc-tab-item label="Layout JSON">
          <div class="flex flex-col flex-1 min-h-0 min-w-0 overflow-scroll gap-2">
            <wc-code-mirror class="flex flex-col flex-1 min-h-0 min-w-0 w-full max-w-full box-border"
              name="json-output"
              line-numbers
              line-wrapper
              fold-gutter
              mode="javascript"
              theme="monokai"
              tab-size="2"
              indent-unit="2">
            </wc-code-mirror>
            <div class="flex flex-row gap-2 mt-2">
              <button id="generate-json" class="btn btn-primary">Generate JSON</button>
              <button id="copy-json" class="btn btn-secondary">Copy to Clipboard</button>
              <button id="save-design" class="btn btn-success">Save Design</button>
              <button id="load-design" class="btn btn-info">Load Design</button>
            </div>
          </div>
        </wc-tab-item>
        <wc-tab-item label="Raw Preview">
          <iframe id="pre-rendered-preview" name="pre-rendered-preview" class="border-none flex flex-col flex-1 min-h-0 overflow-scroll">
          </iframe>
        </wc-tab-item>
        <wc-tab-item label="Preview">
          <iframe id="rendered-preview" name="rendered-preview" class="border-none flex flex-col flex-1 min-h-0 overflow-scroll">
          </iframe>
        </wc-tab-item>
      </wc-tab>
    </div>
    <!-- Right Panel - Properties -->
    <div class="right-panel flex flex-col min-h-0 overflow-scroll p-2">
      <wc-tab id="right-panel" class="flex flex-col flex-1 min-h-0" animate>
        <wc-tab-item class="active" label="Properties">
          <div class="col-1 gap-2 pt-2 pb-10 px-4">
            <div id="no-selection" class="col-1 text-center text-muted py-4">
              <p>Select an element to view and edit its properties</p>
            </div>
            <div id="element-properties" class="col-1 gap-2 hidden">
              <div class="row">
                <wc-input name="prop-id" lbl-label="ID" class="col-1" readonly></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-type" lbl-label="Type" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-label" lbl-label="Label" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-scope" lbl-label="Scope" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-css" lbl-label="CSS" class="col-1"></wc-input>
              </div>
              <div class="row">
                <wc-input name="prop-required" lbl-label="Required" class="col" type="checkbox" toggle-switch></wc-input>
              </div>
              <div class="row">
                <button id="save-properties" class="col-1 btn btn-primary">Apply</button>
              </div>
            </div>
          </div>
        </wc-tab-item>
        <wc-tab-item class="p-4" label="Rules">
          <div class="col-1 gap-2 pt-2 pb-10 px-10">
            <div id="rules-no-selection" class="text-center text-muted py-4">
              <p>Select an element to view and edit its rules</p>
            </div>
            <div id="element-rules" class="d-none">
              <div id="rules-list">
                <!-- Rules will be added here -->
              </div>
              <button id="add-rule" class="btn btn-primary mt-3">Add Rule</button>
            </div>
          </div>
        </wc-tab-item>
      </wc-tab>
    </div>
  </div>
  
  <!-- Rule Modal -->
  <div class="modal fade hidden" id="rule-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Rule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="rule-effect" class="form-label">Effect</label>
            <select class="form-select" id="rule-effect">
              <option value="COPY">Copy Value</option>
              <option value="COPY-TOLOWER">Copy to Lowercase</option>
              <option value="COPY-TOLOWER-UNDERSCORE">Copy to Lowercase with Underscores</option>
              <option value="SHOW">Show Element</option>
              <option value="HIDE">Hide Element</option>
              <option value="ENABLE">Enable Element</option>
              <option value="DISABLE">Disable Element</option>
              <option value="REQUIRE">Make Required</option>
              <option value="UN-REQUIRE">Make Optional</option>
            </select>
          </div>
          
          <h6>Condition</h6>
          <div class="mb-3">
            <label for="rule-condition-scope" class="form-label">Scope</label>
            <input type="text" class="form-control" id="rule-condition-scope">
          </div>
          
          <div class="mb-3">
            <label class="form-label">Schema Validation</label>
            <div class="row g-2">
              <div class="col-md-4">
                <select class="form-select" id="rule-schema-type">
                  <option value="minLength">Min Length</option>
                  <option value="maxLength">Max Length</option>
                  <option value="pattern">Pattern</option>
                  <option value="minimum">Minimum</option>
                  <option value="maximum">Maximum</option>
                  <option value="const">Constant</option>
                  <option value="enum">Enum</option>
                </select>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" id="rule-schema-value" placeholder="Value">
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="rule-src-data-id" class="form-label">Source Element ID</label>
            <input type="text" class="form-control" id="rule-src-data-id">
          </div>
          
          <div class="mb-3">
            <label for="rule-src-selector" class="form-label">Source Selector (optional)</label>
            <input type="text" class="form-control" id="rule-src-selector" placeholder="e.g. input">
          </div>
          
          <div class="mb-3">
            <label for="rule-src-property" class="form-label">Source Property (optional)</label>
            <input type="text" class="form-control" id="rule-src-property" placeholder="e.g. value">
          </div>
          
          <h6>Target</h6>
          <div class="mb-3">
            <label for="rule-tgt-data-id" class="form-label">Target Element ID</label>
            <input type="text" class="form-control" id="rule-tgt-data-id">
          </div>
          
          <div class="mb-3">
            <label for="rule-tgt-selector" class="form-label">Target Selector (optional)</label>
            <input type="text" class="form-control" id="rule-tgt-selector" placeholder="e.g. input">
          </div>
          
          <div class="mb-3">
            <label for="rule-tgt-property" class="form-label">Target Property</label>
            <input type="text" class="form-control" id="rule-tgt-property" placeholder="e.g. value">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="save-rule">Save Rule</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Load Design Modal -->
  <div class="modal fade hidden" id="load-design-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Load Design</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="load-design-textarea" class="form-label">Paste Layout JSON</label>
            <textarea id="load-design-textarea" class="form-control" rows="10"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirm-load-design">Load</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Save Design Modal -->
  <div class="modal fade hidden" id="save-design-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Save Design</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="save-design-name" class="form-label">Design Name</label>
            <input type="text" class="form-control" id="save-design-name" placeholder="My Design">
          </div>
          <div class="mb-3">
            <label for="save-design-textarea" class="form-label">Layout JSON</label>
            <textarea id="save-design-textarea" class="form-control" rows="10" readonly></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="copy-design-json">Copy to Clipboard</button>
          <button type="button" class="btn btn-primary" id="download-design-json">Download JSON</button>
        </div>
      </div>
    </div>
  </div>

  <template id="save-design-template">
   <swal-title>
      Save Design Template
    </swal-title>
    <swal-html>
      <wc-input name="srcConnName" type="hidden" value="default"/>
      <wc-input name="srcDbName" type="hidden" value="local"/>
      <wc-input name="srcCollName" type="hidden" value="contact"/>
      <wc-select name="tgtConnName" 
        class="col-1"
        lbl-label="Target Connection"
        value="mango-dev"
        url="/api/list-connections"
        required
        _='on load or change from first <select#tgtConnName />
          set td to first <wc-select[lbl-label="Target Database(s)"] />
          set tdUrl to "/api/list-databases?connName=" + me.value
          td.setAttribute("url", tdUrl)
        end'
        >
      </wc-select>
      <wc-select name="tgtDbNames"
        mode="chip"
        class="col-1"
        lbl-label="Target Database(s)"
        display-member="label"
        multiple
        xurl="/api/list-databases?connName=mango-dev"
        url=""
        required
        >
      </wc-select>
      <wc-input name="tgtCollName" type="hidden" value="contact"/>
    </swal-html>
    <swal-button type="confirm">
      Clone
    </swal-button>
    <swal-button type="cancel">
      Cancel
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param name="allowOutsideClick" value="false" />
    <swal-param
      name="customClass"
      value='{ "popup": "my-popup" }' />
    <swal-function-param
      name="didOpen"
      value="() => { const ipt = Swal.getInput(); ipt.multiple = true; }" />
    <swal-function-param
      name="preConfirm"
      value='() => { 
        const payload = {
          "srcConnName": document.getElementById("srcConnName").value,
          "srcDbName": document.getElementById("srcDbName").value,
          "srcCollName": document.getElementById("srcCollName").value,
          "tgtConnName": document.getElementById("tgtConnName").value,
          "tgtDbNames": [...new Set(Array.from(document.getElementById("tgtDbNames").selectedOptions).map(m => m.value))],
          "tgtCollName": document.getElementById("tgtCollName").value,
          "recordIds": []
        };
        return payload;
      }' />
  </template>

  <template id="load-design-template">
   <swal-title>
      Load Design
    </swal-title>
    <swal-html>
      <wc-code-mirror
        name="load-layout"
        class="h-400"
        line-numbers
        line-wrapper
        fold-gutter
        mode="javascript"
        theme="monokai"
        tab-size="2"
        indent-unit="2">
      </wc-code-mirror>      
    </swal-html>
    <swal-button type="confirm">
      Load
    </swal-button>
    <swal-button type="cancel">
      Cancel
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param name="allowOutsideClick" value="false" />
    <swal-function-param
      name="preConfirm"
      value='() => { 
        const payload = {
          "uiLayout": document.querySelector(`wc-code-mirror[name="load-layout"]`).editor.getValue()
        };
        return payload;
      }' />
  </template>

  <wc-event-hub></wc-event-hub>
  <wc-prompt></wc-prompt>
  <!--
  <wc-mask-hub></wc-mask-hub>
  <wc-theme></wc-theme>
  -->
  
  <script src="layout-designer.js"></script>
</body>
</html>