<div id="page-contents" class="p-4">
  <div class="col gap-4 mt-4">
    <wc-theme-selector theme="theme-slate-storm" mode="dark">
    </wc-theme-selector>
  </div>
  <div class="row gap-4">
    <wc-loader size="20px" speed="0.5s" thickness="4px"></wc-loader>
    <wc-loader size="45px" speed="0.75s" thickness="8px"></wc-loader>
    <wc-loader size="90px" speed="1s" thickness="12px"></wc-loader>
    <wc-loader></wc-loader>
    <wc-loader size="90px" speed="1s" thickness="12px"></wc-loader>
    <wc-loader size="45px" speed="0.75s" thickness="8px"></wc-loader>
    <wc-loader size="20px" speed="0.5s" thickness="4px"></wc-loader>
  </div>
  <wc-article-skeleton></wc-article-skeleton>
</div>
