<div id="page-contents">
  <div class="my-2 px-4">
    <p class="mb-4 px-10">
      The following is an example of an accordion where only one can be open at any time.
    </p>
    <wc-sidenav class="mb-4 theme-midnight-blue dark" open-top="48px" label="LEFT"
      open-vertical-text push>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </wc-sidenav>

    <wc-sidenav class="mb-4" open-top="137px" label="LEFT2" width="100%">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </wc-sidenav>

    <wc-sidenav class="mb-4" background-color="#111" open-top="48px" label="RIGHT" width="400px" auto-height open-vertical-text right-side push overlay>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </wc-sidenav>

    <wc-sidenav class="mb-4" open-top="154px" label="RIGHT2" right-side>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </wc-sidenav>
  </div>
  <wc-event-handler 
    event-name="custom-event"
    action-target="#page-contents"></wc-event-handler>

</div>
