<div id="page-contents">

  <div class="col gap-4 p-6">

    <p>
      The follow is an example of the slideshow component.
    </p>

    <wc-slideshow class="mb-4" max-image-height="400px">
      <wc-slideshow-image
        url="https://images.pexels.com/photos/259526/pexels-photo-259526.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
        caption="Caption 1"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://images.pexels.com/photos/3030268/pexels-photo-3030268.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
        caption="Caption 2"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://images.pexels.com/photos/571169/pexels-photo-571169.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
        caption="Caption 3"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
        caption="Caption 4"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://images.pexels.com/photos/931881/pexels-photo-931881.jpeg?auto=compress&cs=tinysrgb&w=800&h=375"
        caption="Caption 5"></wc-slideshow-image>
    </wc-slideshow>

    <p>
      The follow is an example of the slideshow component with autoplay enabled.
    </p>

    <wc-slideshow class="mb-4" autoplay autoplay-interval="3000">
      <wc-slideshow-image
        url="https://www.w3schools.com/howto/img_nature_wide.jpg"
        caption="Caption 1"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://www.w3schools.com/howto/img_snow_wide.jpg"
        caption="Caption 2"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://www.w3schools.com/howto/img_lights_wide.jpg"
        caption="Caption 3"></wc-slideshow-image>
      <wc-slideshow-image
        url="https://www.w3schools.com/howto/img_mountains_wide.jpg"
        caption="Caption 4"></wc-slideshow-image>
    </wc-slideshow>

  </div>

</div>
