<div id="page-contents" class="col p-4 gap-4">
  
  <div class="row gap-4">
    <wc-theme-selector theme="theme-ocean-blue" mode="light"></wc-theme-selector>
  </div>
  
  <div class="row gap-4 hidden"
    _="on 'wc-tabulator:row-click' from body
      log event
    end">
    <wc-tabulator
      class="rounded w-full max-h-500"
      id="email-table"
      xpersistence="true"
      ajax-url="http://localhost:8080/api/email_notification"
      placeholder="No Data Available"
      xmovable-columns="true"
      xmovable-rows="true"
      xrow-header='{"formatter":"rowSelection", "titleFormatter": "rowSelection", "headerSort":false, "resizable":false, "frozen":true, "headerHozAlign":"center", "hozAlign":"center"}'
      xrow-header='{"headerSort":false, "resizable": false, "minWidth":30, "width":30, "rowHandle":true, "formatter":"handle"}'
      row-context-menu="rowContextMenu"
      row-height="40"
      xpagination
      xpagination-size="15"
      xpagination-counter="rows"
      record-size="200"
      header-visible="true"
      selectable-rows="true"
      xcol-field-formatter='{"cols": ["first_name", "last_name", "email"], "formatter": "link", "params": {"routePrefix": "screen", "screen": "contact", "url": "urlFormatter"}}'
      xlayout="fitColumns"
      xgroup-by="description"
      xresponsive-layout="collapse"
      >
      <wc-tabulator-func name="onDelete"
          value="(result) => { wc.Prompt.toast({title: 'Delete successful!', type: 'success'}); }" />
      <wc-tabulator-func name="onClone"
          value="(result) => { console.log('Clone result: ', result); wc.Prompt.toast({title: 'Clone successful!', type: 'success'}); }" />
      <wc-tabulator-column
        title="Actions"
        formatter="rowSelection"
        title-formatter="rowSelection"
        hoz-align="center"
        width=45
        header-sort="false"
        header-menu="headerMenu"
        cell-click="toggleSelect"
        visible="false"
        ></wc-tabulator-column>
        
      <wc-tabulator-column
        title="#"
        xformatter="rownum"
        xxformatter="pageRowNum"
        formatter="function(cell) {
                       var table = cell.getTable();
                       var row = cell.getRow();
                       var page = table.getPage() || 1;
                       var pageSize = table.getPageSize();
                       var index = row.getPosition(true);
                       return (page - 1) * pageSize + index;
                     }"
        hoz-align="center"
        width=40
        header-sort="false"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="policy"
        title="Policy #"
        header-filter="input"
        header-filter-func="starts"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="named_insured"
        title="Named Insured"
        header-filter="input"
        header-filter-func="like"
        header-menu="headerMenu"
        bottom-calc="count"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="description"
        title="Description"
        header-filter="list"
        header-filter-params='{"valuesLookup":true, "clearable":true}'
        header-menu="headerMenu"
        visible="true"
        top-calc="count"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="policy_type"
        title="Policy Type"
        header-filter="input"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="email"
        title="Email"
        header-filter="input"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="phone"
        title="Phone"
        header-filter="input"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="proof_required_by"
        title="Required By"
        header-filter="input"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="email_sent_date"
        title="Email Sent"
        header-filter="input"
        header-menu="headerMenu"
        formatter="localdatetime"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="is_active"
        title="Is Active?"
        formatter="tickCross"
        header-filter="tickCross"
        header-filter-params='{"tristate":true}'
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
    </wc-tabulator>
  </div>
  

 <div class="row gap-4"
    _="on 'wc-tabulator:row-click' from body
      log event
    end">
    <wc-tabulator
      class="rounded w-full max-h-500"
      id="contact-table"
      xpersistence="true"
      ajax-url="http://localhost:8080/api/email_notification"
      placeholder="No Data Available"
      movable-columns="true"
      movable-rows="true"
      xrow-header='{"formatter":"rowSelection", "titleFormatter": "rowSelection", "headerSort":false, "resizable":false, "frozen":true, "headerHozAlign":"center", "hozAlign":"center"}'
      xrow-header='{"headerSort":false, "resizable": false, "minWidth":30, "width":30, "rowHandle":true, "formatter":"handle"}'
      row-context-menu="rowContextMenu"
      row-height="40"
      pagination
      pagination-size="10"
      pagination-counter="rows"
      record-size="200"
      header-visible="true"
      selectable-rows="true"
      initial-filter='[{"field": "description", "type": "in", "value": ["Auto Pay Authorization", "Correct License Information", "DynamicDrive discount", "License information Required", "Renewal ToDo: NC Driver License Number", "Renewal ToDo: Proof of Driving Experience required", "Credit Card Expiring", "Eligible Risk Cancel", "Eligible Risk Proof", "Foreign Experience"]}]'
      col-field-formatter='{"cols": ["named_insured"], "formatter": "link", "params": {"routePrefix": "screen", "screen": "contact", "url": "urlFormatter"}}'
      xlayout="fitColumns"
      group-by="description"
      xresponsive-layout="collapse"
      >
      <wc-tabulator-func name="onDelete"
          value="(result) => { wc.Prompt.toast({title: 'Delete successful!', type: 'success'}); }" />
      <wc-tabulator-func name="onClone"
          value="(result) => { console.log('Clone result: ', result); wc.Prompt.toast({title: 'Clone successful!', type: 'success'}); }" />
      <wc-tabulator-column
        title="Actions"
        formatter="rowSelection"
        title-formatter="rowSelection"
        css-class="pt-5"
        hoz-align="center"
        header-hoz-align="center"
        width=45
        header-sort="false"
        resizable="false"
        frozen="true"
        cell-click="toggleSelect"
        visible="true"
        ></wc-tabulator-column>        
      <wc-tabulator-column
        title="#"
        xformatter="rownum"
        xxformatter="pageRowNum"
        formatter="function(cell) {
                       var table = cell.getTable();
                       var row = cell.getRow();
                       var page = table.getPage() || 1;
                       var pageSize = table.getPageSize();
                       var index = row.getPosition(true);
                       return (page - 1) * pageSize + index;
                     }"
        hoz-align="center"
        width=40
        header-sort="false"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        formatter='function(cell, formatterParams) {
          return `<svg class="h-4 w-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/>
          </svg>`;
        }'
        cell-click='function (e, cell) {
          alert("Printing row data for: " + cell.getRow().getData().named_insured);
        }'
        hoz-align="center"
        width=40
        header-sort="false"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="policy"
        title="Policy #"
        header-filter="input"
        header-filter-func="starts"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="named_insured"
        title="Named Insured"
        header-filter="input"
        header-filter-func="like"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="description"
        title="Description"
        header-filter="list"
        header-filter-params='{"values": ["Auto Pay Authorization", "Correct License Information", "DynamicDrive discount", "License information Required", "Renewal ToDo: NC Driver License Number", "Renewal ToDo: Proof of Driving Experience required", "Credit Card Expiring", "Eligible Risk Cancel", "Eligible Risk Proof", "Foreign Experience"]}'
        xheader-filter-params='{"valuesLookup":true, "clearable":true}'
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="policy_type"
        title="Policy Type"
        header-filter="input"
        header-menu="headerMenu"
        visible="false"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="email"
        title="Email"
        header-filter="input"
        header-menu="headerMenu"
        visible="false"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="phone"
        title="Phone"
        header-filter="input"
        header-menu="headerMenu"
        visible="false"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="proof_required_by"
        title="Required By"
        header-filter="input"
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="email_sent_date"
        title="Email Sent"
        header-filter="input"
        header-menu="headerMenu"
        formatter="localdatetime"
        formatter-params='{"format": ""}'
        visible="true"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="is_active"
        title="Is Active?"
        formatter="tickCross"
        header-filter="tickCross"
        header-filter-params='{"tristate":true}'
        header-menu="headerMenu"
        visible="true"
        ></wc-tabulator-column>
    </wc-tabulator>
  </div>
 

  <!--
  <div class="row gap-4">
    <wc-tabulator
      class="w-full"
      id="contact-table"
      xpersistence="true"
      ajax-url="http://localhost:8080/api/contact"
      placeholder="No Data Available"
      movable-columns="true"
      movable-rows="true"
      xrow-header='{"formatter":"rowSelection", "titleFormatter": "rowSelection", "headerSort":false, "resizable":false, "frozen":true, "headerHozAlign":"center", "hozAlign":"center"}'
      row-header='{"headerSort":false, "resizable": false, "minWidth":30, "width":30, "rowHandle":true, "formatter":"handle"}'
      row-context-menu="rowContextMenu"
      row-height="40"
      pagination
      pagination-size="5"
      pagination-counter="rows"
      header-visible="true"
      selectable-rows="true"
      col-field-formatter='{"cols": ["first_name", "last_name", "email"], "formatter": "link", "params": {"routePrefix": "screen", "screen": "contact", "url": "urlFormatter"}}'
      group-by="gender"
      layout="fitColumns">
      <wc-tabulator-func name="onDelete"
          value="(result) => { wc.Prompt.toast({title: 'Delete successful!', type: 'success'}); }" />
      <wc-tabulator-func name="onClone"
          value="(result) => { console.log('Clone result: ', result); wc.Prompt.toast({title: 'Clone successful!', type: 'success'}); }" />
      <wc-tabulator-column
        title="Actions"
        formatter="rowSelection"
        title-formatter="rowSelection"
        hoz-align="center"
        width=45
        header-sort="false"
        header-menu="headerMenu"
        cell-click="toggleSelect"
        visible="false"
        ></wc-tabulator-column>
        
      <wc-tabulator-column
        title="#"
        formatter="rownum"
        hoz-align="center"
        width=40
        header-sort="false"
        header-menu="headerMenu"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="first_name"
        title="First Name"
        header-filter="input"
        header-filter-placeholder="First..."
        header-filter-func="starts"
        header-menu="headerMenu"
        formatter="link"
        formatter-params='{"routePrefix": "screen", "screen": "contact", "url": "urlFormatter"}'
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="last_name"
        title="Last Name"
        header-filter="input"
        header-filter-placeholder="Last..."
        header-filter-func="like"
        header-menu="headerMenu"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="email"
        title="Email"
        header-filter="input"
        header-menu="headerMenu"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="address.street"
        title="Street"
        header-filter="input"
        header-menu="headerMenu"
        formatter="link"
        formatter-params='{"routePrefix": "screen", "screen": "contact", "url": "urlFormatter"}'
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="address.city"
        title="City"
        header-filter="input"
        header-menu="headerMenu"
        bottom-calc="count"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="address.state"
        title="State"
        editor="input"
        header-filter="list"
        header-filter-params='{"valuesLookup":true, "clearable":true}'
        header-menu="headerMenu"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="phone_number"
        title="Phone"
        header-filter="input"
        header-menu="headerMenu"
        visible="false"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="is_active"
        title="Is Active?"
        formatter="tickCross"
        header-filter="tickCross"
        header-filter-params='{"tristate":true}'
        header-menu="headerMenu"
        visible="false"
        ></wc-tabulator-column>
    </wc-tabulator>
  </div>
  -->

  
  <!--
  <div class="row gap-4">
    <wc-tabulator
      xclass="col-1"
      ajax-url="https://itunes.apple.com/search"
      ajax-params='{"term": "star+wars", "country": "us", "entity": "movie", "limit": "5"}'
      pagination
      pagination-size="5"
      layout="fitDataStretch">
      <wc-tabulator-column 
        field="artworkUrl100"
        title="Cover"
        formatter="image"
        vert-align="middle"
        header-hoz-align="center"
        hoz-align="center"
        visible="false"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="artistName"
        title="Artist"
        vert-align="middle"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="trackName"
        title="Title"
        vert-align="middle"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="contentAdvisoryRating"
        title="Rating"
        vert-align="middle"
        ></wc-tabulator-column>
      <wc-tabulator-column
        field="releaseDate"
        title="Release Date"
        formatter="localDatetimeFormatter"
        formatter="datetime"
        xformatter-params='{"inputFormat": "iso", "outputFormat": "MM/dd/yyyy"}'
        vert-align="middle"
        header-hoz-align="right"
        hoz-align="right"
        header-sort-tristate="true"
        sorter="date"
        sorter-params='{"format": "MM/dd/yyyy"}'
        ></wc-tabulator-column>
    </wc-tabulator>
  </div>
  -->

  <!--
  <div class="row gap-4">
    <wc-tabulator
      ajax-url="https://randomuser.me/api/"
      ajax-params-map='{"page": "page", "size": "results"}'
      ajax-params='{"seed": "abc", "nat": "us"}'
      pagination
      pagination-size="5"
      layout="fitColumns">
      <wc-tabulator-column field="email" title="Email"></wc-tabulator-column>
      <wc-tabulator-column field="name.first" title="First Name"></wc-tabulator-column>
      <wc-tabulator-column field="name.last" title="Last Name"></wc-tabulator-column>
      <wc-tabulator-column field="location.street.number" title="Street Number"></wc-tabulator-column>
      <wc-tabulator-column field="location.street.name" title="Street Name"></wc-tabulator-column>
      <wc-tabulator-column field="location.city" title="City"></wc-tabulator-column>
      <wc-tabulator-column field="location.state" title="State"></wc-tabulator-column>
      <wc-tabulator-column field="phone" title="Phone"></wc-tabulator-column>
    </wc-tabulator>
  </div>
  -->

</div>
